
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

@import 'custom';

.navbar-talent {
  background-color: rgb(25, 1, 31);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-primary {
  color: #fff;
  background-color: #9F00C5;
  border-color: #9F00C5;
}